@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background-color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

:root {
    --primary-color: #FDE68A;
    --secondary-color: #FFFBEB;
    --coral: #FF7F50;
    --border-color: #e9c46a;
}

.container {
    max-width: 75vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.container h1 {
    text-align: center;
    color: var(--coral);
    text-shadow: 1px -1px black;
    opacity: 1.0;
}

label {
    margin-bottom: 6px;
    padding: 6px;
    color: var(--coral);
    display: block;
}

input {
    padding: 6px;
    margin-bottom: 10px;
    width: 50%;
    border: 2px solid var(--primary-color);
}

button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    display: block;
    margin: auto;
    text-shadow: 0px 0px 0px transparent;
}

#check-btn {
    margin-top: 2rem;
    padding: 10px;
    width: 20%;
    border: 2px solid var(--coral);
    border-radius: 15px;
}

#result {
    font-size: large;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

.footer-icons {
    margin-top: 40px;
}

.footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #FBBF24;
    border-radius: 2px;
    font-size: 20px;
    color: black;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}